@font-face {
	font-family: Lexend Deca;
	src: url(db-fonts/LexendDeca-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: Lexend Deca;
	max-width: 100%;
}

body {
	background-color: #f9f9f9;
}

header {
	background: rgb(132,94,194);
	background: linear-gradient(90deg, rgba(132,94,194,1) 0%, rgba(0,201,167,1) 50%, rgba(196,252,239,1) 100%);
}

.topo {
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	color: white;
}

.busca {
	width: 900px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-left: 15px;
}

.busca input {
	border: 0;
	width: 100%;
	height: 65px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	margin: 20px 0;
	outline: 0;
	/* padding: 0 20px; */
}

/* margin left value input */
.busca input[type="text"] {
	padding-left: 60px;
}

.busca input::placeholder {
	font-size: 16px;
	color: #ffffff;
	opacity: 0.5;
}

.ionicon-fill-none{
		fill: red!important;
}

.busca ion-icon {
	margin-right: -4%;
	color: white;
	font-size: 23px;
}

section {
	padding-top: 50px;
	background-color: #f9f9f9;
}

article {
	width: 860px;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgb(19 19 31 / 15%);
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 50px;
}

.data-icone {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.data-icone ion-icon {
	color: #029bbc;
	font-size: 24px;
	/* font-weight: bold; */
}

article h2 {
	margin: 20px 0;
}

/* scroll */
/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #029bbc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* scroll */

/* responsivo */
@media only screen and (max-width: 600px) {
	.topo {
		width: 90%;
	}

	.busca {
		width: 90%;
	}

	.busca ion-icon {
		margin-right: -8%;
	}

	article {
		width: 80%;
	}
}
/* responsivo */
